

body {
	background: tomato;
}

.container {
	bottom: 0;
	color: #fff;
	display: flex;
	font-size: 40px;
	height: 40px;
	left: 15%;
	line-height: 40px;
	margin: auto;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
}

ul {
	list-style: none;
	padding-left: 10px;
	animation: change 7s infinite;
}

ul, p {
	margin: 0;
}

@keyframes change {
	0% {
		margin-top: 0;
	}

	20% {
		margin-top: 0;
	}

	25% {
		margin-top: -40px;
	}

	50% {
		margin-top: -40px;
	}

	55% {
		margin-top: -80px;
	}

	80% {
		margin-top: -80px;
	}

	85% {
		margin-top: -40px;
	}

	95% {
		margin-top: -40px;
	}

	100% {
		margin-top: 0;
	}
}